.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  width:800px; 
  margin:0
   auto;
   margin-top: 0
   auto;
}

.optionColor{
  margin: 0;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  border-style: solid;
  width: 600px;
}
h1{
  margin: 0;
  margin-bottom: .5rem;
background-color: lightseagreen;
}
.input{
  border-radius: .3em;
  padding: .25rem;
  width: 10em;
  border: 1px solid #333;
}
select{
  margin-left: .5rem;
  width: 3rem;
  padding: .5rem;
  border-radius: .3em;
}

.SelectItems{
  border-radius: .3em;
  padding: .25rem;
  width: 5em;
  border: 1px solid #333;
}
.equal{
  font-weight: bold;
  font-size: 2rem;
}

.SelectOption{
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 2vh;
  padding: .5rem;
  border-radius: .3em;
  border: 1px solid #333;
  margin-bottom: 1rem;
  margin-top: 2rem;
  width: 18rem;
}

